ProjetP2/accounts.xsd.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://unchk.sn/bankapi"
           targetNamespace="http://unchk.sn/bankapi"
           elementFormDefault="qualified">

    <xs:element name="getBalanceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBalanceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="balance" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Ajoutez d'autres éléments pour les autres opérations -->
</xs:schema>
